<mat-card>
	<mat-card-title style="margin-bottom: 1rem;">
		Currency Converter
	</mat-card-title>

	<div class="explanation-wrapper">
		<em>Styles and functionality to be improved.</em>
	</div>

	<mat-card-content>
		<div class="explanation-wrapper">
			This is a simple currency converter. It uses a Service to get the conversions from
			<strong>OpenExchangeRates</strong>, that are updated every hour.
		</div>

		<div class="input-wrapper"><input type="text" #valueToConvert (input)="onInput(valueToConvert.value)" /></div>

		<div class="input-wrapper">
			<!-- Currency to be taken as base for conversion -->
			<mat-form-field appearance="fill">
				<mat-label>From:</mat-label>
				<mat-select [(value)]="fromCurrency">
					<mat-option *ngFor="let currency of availableCurrencies" [value]="currency">{{ currency }}</mat-option>
				</mat-select>
			</mat-form-field>

			<button mat-raised-button (click)="swapDirection()">
				<mat-icon>360</mat-icon>
			</button>

			<!-- Currency to be taken as target for conversion -->
			<mat-form-field appearance="fill">
				<mat-label>To:</mat-label>
				<mat-select [(value)]="toCurrency">
					<mat-option *ngFor="let currency of availableCurrencies" [value]="currency">{{ currency }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<!-- Conversion result -->
		<h1>{{ convertedAmount }}</h1>
	</mat-card-content>
</mat-card>