<!-- <p>
  <a routerLink="">Main</a>
  <a routerLink="mengenlehreuhr">Mengenlehreuhr</a>
</p> -->
<mat-toolbar color="primary">
  <span id="logo">Portfolio 2023</span>

  <button mat-button mat-raised-button routerLink="">
    <span>Main</span>
  </button>
  
  <button mat-button mat-raised-button routerLink="mengenlehreuhr">
    <span>Mengenlehreuhr</span>
  </button>
  
  <button mat-button mat-raised-button routerLink="script-converter">
    <span>Script Converter</span>
  </button>
  
  <button mat-button mat-raised-button routerLink="roman-numerals-converter">
    <span>Roman Numerals Converter</span>
  </button>
</mat-toolbar>