.prime-numbers-container {
	max-width: 50vw;
	transition: width 0.5s ease-in-out;
}

.prime-numbers-input {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
}

.prime-numbers-container__counter {
	font-weight: 700;
}

mat-card-title {
	line-height: 14px !important;
	margin-bottom: 1rem;
}

.explanation-wrapper {
	margin: 1rem;
	overflow-wrap: break-word;
	max-width: 40vw;
}

.tooltip-source {
	text-decoration: underline;
	text-decoration-style: dotted;
}