<div class="content-wrapper">
	<mat-form-field class="input-row" [formGroup]="myForm">
		<mat-label>Enter a number</mat-label>

		<input matInput maxlength="7" type="text" formControlName="myNumberInput" (keydown)="onKeyDown($event)"
			(input)="convertToRoman($event)" aria-label="Input text for indo-arabic numeral" [errorStateMatcher]="matcher"
			color="accent" />

		<button *ngIf="myForm.get('myNumberInput')?.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
			(click)="clearInput()">
			<mat-icon>close</mat-icon>
		</button>

		<mat-error *ngIf="myForm.get('myNumberInput')?.invalid">
			Please enter a valid number
		</mat-error>
	</mat-form-field>

	<!-- <div class="input-toggle">
		<mat-button-toggle-group appearance="legacy"
			aria-label="Toggle that switches between mediaevel Apostrophus and Vinculum glyphs for numbers above 3999"
			[(ngModel)]="largeNumbersMode" (ngModelChange)="onToggleChange($event)">
			<mat-button-toggle value="vinculum">Vinculum</mat-button-toggle>
			<mat-button-toggle value="apostrophus">Apostrophus</mat-button-toggle>
		</mat-button-toggle-group>
	</div> -->

	<mat-card *ngIf="myForm.get('myNumberInput')?.value !== '0' || myForm.get('myNumberInput')?.valid">
		<mat-card-header>
			<mat-card-title>
				<h1>{{ romanNumber }}</h1>
			</mat-card-title>
		</mat-card-header>
	</mat-card>
</div>