.input-row {
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

mat-card {
  max-width: 80vw;
}

.explanation-wrapper {
  margin: 1rem;
  overflow-wrap: break-word;
  max-width: 40vw;
}