<div class="content-wrapper">
	<mat-card>
		<mat-card-content>
			<div>
				<h1>Indo-arabic to roman numerals converter</h1>
				<div class="explanation-wrapper">This app converts indo-arabic numers into their roman respective values.</div>
				<div class="explanation-wrapper">As per the nature of roman numerals, they're limited to the maximum of 3999, as
					there's no period correct roman numeral for 5000 and beyond.</div>
				<div class="explanation-wrapper">Therefore, during mediæval times, new glyphs were invented to deal with values
					larger
					than 3999.</div>
				<div class="explanation-wrapper">This group of glyphs is called <strong>Apostrophus</strong>, so if you
					see
					some never-before-seen glyphs,
					that's the reason.
				</div>
			</div>

			<mat-form-field class="input-row" [formGroup]="myForm">
				<mat-label>Enter a number</mat-label>

				<input matInput maxlength="7" type="text" formControlName="myNumberInput" (keydown)="onKeyDown($event)"
					(input)="convertToRoman($event)" aria-label="Input text for indo-arabic numeral" [errorStateMatcher]="matcher"
					color="accent" />

				<button *ngIf="myForm.get('myNumberInput')?.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
					(click)="clearInput()">
					<mat-icon>close</mat-icon>
				</button>

				<mat-error *ngIf="myForm.get('myNumberInput')?.invalid">
					Please enter a valid number
				</mat-error>
			</mat-form-field>

			<div *ngIf="myForm.get('myNumberInput')?.value !== '0' || myForm.get('myNumberInput')?.valid">
				<h1>{{ romanNumber }}</h1>
			</div>
		</mat-card-content>
	</mat-card>
</div>