<mat-drawer-container class="sidenav-container" [hasBackdrop]="true">
	<mat-drawer [opened]="showSideNav" (closedStart)="toggleSideNav(false)" [mode]="'over'">
		<button *ngFor="let route of routesLocal" mat-button mat-stroked-button
			[color]="currentUrl === 'route.path' ? 'accent' : 'primary'" [routerLink]="route.path"
			(click)="toggleSideNav(false, route.path)">
			{{ route.name }}
		</button>
	</mat-drawer>

	<div>
		<app-navbar (toggleSideNavEvent)="toggleSideNav(true)"></app-navbar>

		<div class="content-wrapper">
			<mat-card *ngIf="currentUrl === '/'" class="introduction">
				<h1>Hello!</h1>
				<p>
					Hi! My name is <strong>André Silva</strong> and I'm a Fullstack Developer. I'm currently working with the
					stack ReactTS+MaterialUI+MongoDB and others. This is my Portfolio for the year
					of 2023. I made this site (in 4 days) in order to remember my knowledge of
					Angular (haven't worked with it since 2021) and Angular Material, have fun, and practise programming logic
					writing apps that I
					find fun to develop.
				</p>
				<p>
					This is an over-engineered website, as I was trying to use as many features from Angular as I could. It
					doesn't apply best practices of the Angular or SCSS communities, but I tried to make the code good with the
					time I had.
					I work by
					deploying weekly releases, using Git Issues to manage my tasks.
					This website isn't complete and has several bugs, all known in form of Issues on GitHub. Was previously using
					the stack BitBucket+Jira, but after many issues with authentication, I turned back to GitHub.
					This page has been released using Actions from GitHub and deployed to the web using GitHub Pages.
					<em>It's not, at the moment, focused on design or responsive design or ARIA</em>, but more as an exercise in
					Angular, although I will improve the styling later on.
				</p>

				<p>The current idea is the following: fix current bugs; write apps that are in Backlog; improve or completely
					change styling; deploy it to Azure using GitHub actions; deplot it to Azure in a container; add i18n...
				</p>

				<p style="margin-bottom: 0px;"><strong>Welcome!</strong></p>

				<sub>v0.3.0</sub>
			</mat-card>
			<router-outlet></router-outlet>
		</div>

		<footer></footer>