<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer [opened]="showSideNav" (closedStart)="toggleSideNav()" [mode]="'over'">
    <button
      mat-button
      mat-stroked-button
      [color]="currentUrl === '/mengenlehreuhr' ? 'accent' : 'primary'"
      routerLink="mengenlehreuhr"
      (click)="toggleSideNav()"
    >
      <span>Mengenlehreuhr</span>
    </button>
    
    <button
      mat-button
      mat-stroked-button
      [color]="currentUrl === '/script-converter' ? 'accent' : 'primary'"
      color="primary"
      routerLink="script-converter"
    >
      <span>Script Converter</span>
    </button>
    
    <button
      mat-button
      mat-stroked-button
      color="primary"
      [color]="currentUrl === '/script-converter' ? 'accent' : 'primary'"
      routerLink="roman-numerals-converter"
    >
      <span>Roman Numerals Converter</span>
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <app-navbar (toggleSideNavEvent)="toggleSideNav()"></app-navbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<footer></footer>