<div>
	<!-- First row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: aRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: aRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: aRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: aRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: aRow[4] === true }"></div>
	</div>

	<!-- Second row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: bRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: bRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: bRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: bRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: bRow[4] === true }"></div>
	</div>

	<!-- Third row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: cRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: cRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: cRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: cRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: cRow[4] === true }"></div>
	</div>

	<!-- Fourth row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: dRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: dRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: dRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: dRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: dRow[4] === true }"></div>
	</div>

	<!-- Fifth row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: eRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: eRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: eRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: eRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: eRow[4] === true }"></div>
	</div>

	<!-- Sixth row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: fRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: fRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: fRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: fRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: fRow[4] === true }"></div>
	</div>

	<!-- Seventh row -->
	<div class="display-row">
		<div class="display-pixel" [ngClass]="{ active: gRow[0] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: gRow[1] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: gRow[2] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: gRow[3] === true }"></div>
		<div class="display-pixel" [ngClass]="{ active: gRow[4] === true }"></div>
	</div>
</div>
