/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Ubuntu Regular';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Ubuntu Regular', Roboto, "Helvetica Neue", sans-serif; }
